* {
  box-sizing: border-box;
}

form {
  padding: 20px;
}

input {
  padding: 0.5em;
  font-size: 1.4em;
  border-color: #c05fff;
}

.item-input{
  float: left;
  width: 60%;
}

.price-input{
  width: 30%;
}

.price-input::before{
  content: 'R$';
}

.button-submit{
  padding: 0.5em;
  font-size: 1.4em;
  float: right;
  width: 5%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 20px;
  border-bottom: solid 1px #8a2be2;
  cursor: pointer;
  display: flex;
}

li > span {
  flex: 1;
  text-align: left;
  color: #FFF;
}

li > button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #FFF;
}

.buy_list {
  background-color: #c05fff;
}

.total {
  color: #FFF;
  font-size: 1em;

}

.bought > span {
  text-decoration: line-through;
}

.mdl-layout__header {
  background-color: #8a2be2;
}